@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
  font-family: "Poppins";
  margin: 0;
  
}

.pdslide{
  cursor: pointer;
}

#fcolumn a:hover {
  opacity: 0.5;
} 

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

.content-container{
  width: 120rem;
  height: 60rem;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

#home {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: 
      url("../img/bg.png"),
      url("../img/bg-blurred.png"); */
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;

}

#navmenu:hover{
  opacity: 0.2;
}

nav {
}
#navbar {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  list-style: none;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.8;
  top: 0;

  z-index: 9999;
}

li{
  list-style: none;
}
#navbar li {
  font-weight: bolder;
  font-size: large;
  display: block;
  padding: 1.5rem;
  float: left;
}
a {
  color: black;
  text-decoration: none;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;


  /* flex-direction: row;  */
  background: white;
  font-size: 1.6rem;
  padding: 1em;
  /* background-image: url("../img/curang.png"); */
}

#profile .col{
  width: 50%;
  height: 100%;
}

#profile .row{
  display: flex;
  flex-direction: row;
}

#profile>.col{
  padding: 4em 2em 0 2em;
}

#profile .title{
  font-size: 4.4rem;
  font-weight: 200;
}

#profile .header{
  font-size: 1.8rem;
}

#profile p{
  font-size: 1.2rem;
  font-weight: 300;
}

#profile .bottom-right{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;

  font-weight: 200;
}

#profile .bottom-right #offset{
  position: absolute;
  right: 10%;
  top: 100%;
  width: 100%;
}

#profile .bottom-right #offset .img-container{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#profile .bottom-right #offset .img-container img{
  border-radius: 100px;
  box-shadow: inset 10px 5px 25px 5px rgba(0, 0, 0, 0.25), 
  5px 5px 12px 2px rgba(0,0,0,0.25);
  margin-left: 2em;
}

#profile .bottom-right #offset .img-container img:hover{
  box-shadow: inset 10px 5px 25px 5px rgba(0, 0, 0, 0.5), 
  5px 5px 12px 2px rgba(0,0,0,0.5);
}




#profile #jarak{

}

#wisata {
  background-color: #fff;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

}
#wisata>img{
}

/* external css: flickity.css */



#ptail {
  height: 155px;
  width: 100%;
  background-image: url("../img/pdtail.png");
}

.pdpict{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.wisata-detail{
  
  width: 100%;
  font-weight: lighter;
}
.wisata-detail h3{
  font-size: 35px;
  margin-left: 60px;
  text-align: start;
  color: #2489f4;
}

#gsb {
/* 
  background-image: 
      url("../img/headerlpd.png"),
      url("../img/headerlpd-blurred.png"); */
  background-position: center, center;
  background-repeat: no-repeat, repeat;
}
#service {
  height: 1377px;
  width: 100%;
  background-color: #fff;

  display: flex;
  justify-content: center;
}
#gallery {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  height: 60em;
/* 
  background-image: 
      url("../img/hgaleri.png"),
      url("../img/hgaleri-blurred.png"); */
  background-position: center, center;
  background-repeat: no-repeat, repeat;
}
.column {
  justify-content: center;
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: center;
}

#fotoperangkat{
  align-self: center;
  margin: auto;
  height: 18rem;
}

/* #urow{
  content: "";
  display: table;
  clear: both;
} */


#phead {
  width: 100%;
  height: 493;
  background-image: 
      url("../img/header/pwheader.png"),
      url("../img/headerpotensi-blurred.png");
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  background-size: 100% 200%;
}
#kontak {
  align-content: center;
  flex-direction: column;
  display: flex;
  margin: 40px;
  width: 267px;
  justify-content: center;
  /* height: 400px; */
}



#img {
  background-image: url("../img/kades.png");
  height: 331px;
  width: 250px;
}


#waicon {
  height: 50px;
  width: 50px;
}

#wanum {
  text-decoration: none;
  font-size: 14px;
}
#wanum:hover{
  opacity: 0.5;
}
#info {
  align-items: center;
  display: flex;
}
#nama {
  font-size: 20px;
}
#jabatan {
  font-size: 16px;
}
.column2 {
  align-items: flex-start;
  justify-content: center;
  height: 500px;
  width: 50%;
  display: flex;
  float: left;
}

#title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#caption {
  flex-direction: column;
  font-family: "poppins";
  height: 900px;
  justify-content: center;
  align-items: center;
}
#foto {
  height: 900px;
  justify-content: center;
  align-items: center;
}
#ct {
  color: #2489f4;
  font-size: 28px;
  font-weight: bolder;
}
#ctx {
  font-weight: bolder;
  font-size: 16px;
  margin: 60px;
  align-self: center;
}
#gtx {
  
  font-weight: light;
  
  margin-left: 0;
  margin-right: 45px;
  margin-top: 0;
}
p {
  text-align: justify;
}
/* #protail {
  width: 100%;
  height: 276px;
  background-image: url("../img/Frame5.png");
} */
#gcontent {
  display: flex;
  overflow: hidden;
  margin: 0;
  width: 80%;
  height: 1100px;
}

#gjustifier{
  display: flex;
  justify-content: center;
  background: white;
}

* {
  box-sizing: border-box;
}
.grow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
.gcolumn {
  -ms-flex: 25%;
  flex: 25%;
  padding: 0 4px;
}
.gcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
#gimg {
  border-radius: 1px;
  cursor: pointer;
  transition: 0.3s;
}

#gimg:hover{
  opacity: 0.7;
}
/*  kopazz */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 0;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0, 0);
}

.modal .overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  justify-content: center;
  position: relative;

  background-color: white;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 70%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  float: left;
  width: 100%;
  height: 100%;
  display: none;
}
.mySlides img {
  justify-self: center;
  align-self: center;
  display: flex;
}

.mySlides .content {
  flex-direction: column;
  text-align: justify;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  font-size: 14px;
  display: flex;
}
.mySlides .content::after {
  content: "";
  display: table;
  clear: both;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -25px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  font-weight: bolder;
  font-family: "poppins";
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img.demo {
  opacity: 0.6;
}
.prow{
  width: 80%;
}
.pcolumn{
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  float: left;
  width: 50%;
}


.prow:after{
  content: "";
  display: table;
  clear: both;
}


.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#gphoto {
  width: 50%;
  height: 100%;
}
.modal hr{
  width: 90%;
  margin-left: 0;
}
.pdtext img{
  margin-left: 60px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

#humkm{
/* 
  background-image: 
      url("../img/humkm.png"),
      url("../img/humkm-blurred.png"); */
  background-position: center, center;
  background-repeat: no-repeat, repeat;
}

#umkm{
  height: 800px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

#footer{
  height: 200px;
  width: 98%;
  align-self: center;
}
#fcolumn{
  height: 80%;
  float: left;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#fcolumn a {
  font-size: 12px;
}

#flink{

  display: flex;
}
#flink > *{
  margin-right: 0.5rem;
}
.fcol-container a{
  display: flex;
  align-items: center;
}
.fcol-container a img{
  margin: 0.1rem;
}
#kknfilkom{
  display: flex;
  flex-direction: row;
}
#frow{
  background-color: white;
}
#frow::after{
  
  content: "";
  display: table;
  clear: both;
}
#fcopyright{
  text-align: center;
  margin: auto;
  padding: 2em;
}