section {
    /* background: yellow; */
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    border-radius: 10px;
}

section .container .card {
    width: max(18%, 24.4rem);
    height: min(13.4rem);
}

section .container .card .card-title {
    font-size: 1.6rem;
}

section .container .card .card-text {
    font-weight: bold;
    font-size: 3.4rem;
}
