
.form-penduduk {
    font-size: 1.6rem;
}
.form-penduduk .form-select, .form-control {
    font-size: 1.6rem;
    padding: 0.8rem;
}
.form-penduduk .form-control:focus {
    border-color: #000;
    box-shadow: none;
}
.form-penduduk .row{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

[disabled]{
    background-color: rgba(255, 255, 255, 0.2) !important;
    /* border: 0; */

}
.form-penduduk label {
    font-weight: 600;
}
.form-penduduk .error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}
.form-penduduk .form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

.back-button{
    
}

.form-penduduk .back-button:hover{
    opacity: 0.8;
}
