html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #363740;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.1s background-color;
}

.container {
    width: auto;
    height: auto;
    max-width: clamp(2vw, 10rem);
    max-height: clamp(3vh, 5rem);
    background: #F8FAFC;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: width 1s;
    transition: height 1s;
}

.light,
label {
    color: #94A3B8;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0.4em;
}

h1 {
    font-size: 2.4rem;
    font-weight: bolder;
}

form {
    width: 90%;
}


.password-toggle{
    border-radius: 100%;
}
.password-toggle:hover{
    background-color: #dadada;
}


@media screen and (max-width: 900px) {
    .container {
        width: 100vw;
        height: 100vh;

        border-radius: 0;
    }
    body{
        background: #F8FAFC;
    }
}
