html{
    --sidewidth: 25.5rem;
    --sidewidthClosed: 8rem;
}

aside{
    transition: width 0.3s, display 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;
}

aside button{
    border-radius: 5px;
}

aside ul a{
    
}
main{
    transition: width 0.3s;
}

.menu-toggle:hover{
    opacity: 0.8;
}

.modal-backdrop {
    background-color: transparent !important;
 }

 #sidebarState aside{
    width: var(--sidewidth);
    background: #363740;
    height: 100%;
 }
/* if open */
#sidebarState[state = "aside-open"] aside{
    color: #F8FAFC;
}

#sidebarState[state = "aside-open"] aside button{
    background: #2489F4;
    padding: 1em;
}

#sidebarState[state = "aside-open"] aside header{
    padding: 2em;
    display: flex;
}

#sidebarState[state = "aside-open"] aside nav{
    width: 100%;
}

#sidebarState[state = "aside-open"] aside nav li{
    color: #CBD5E1;
}

#sidebarState[state = "aside-open"] aside nav li:hover{
    background: #3F4049;
}
#sidebarState[state = "aside-open"] aside nav li[selected]{
    background: #3F4049;
}
#sidebarState[state = "aside-open"] aside nav li[selected] #selectedMark{
    background: #D9DDF9;
    width: 0.3rem;
}
#sidebarState[state = "aside-open"] footer{
    margin-bottom: 2em;
}

#sidebarState[state = "aside-open"] footer button{
    padding: 0;
    width: 13.7rem;
    height: 5rem;
    background: #2489F4 !important;
}

#sidebarState[state = "aside-open"] footer button:hover{
    background: rgb(36, 137, 244, 0.8) !important;
}

#sidebarState[state = "aside-open"] .hiddenWhenOpen{
    display: none;
}

#sidebarState[state = "aside-open"] main{
    width: max(100% - var(--sidewidth));
}
#sidebarState[state = "aside-open"] .divider{
    height: 1px;
    background: #DFE0EB;
    opacity: 0.5;
    width: 80%;
}

/* else */
#sidebarState[state = "aside-closed"] aside {
    width: var(--sidewidthClosed);

    color: #F8FAFC;
}

#sidebarState[state = "aside-closed"] aside button{
    background: #2489F4;
    padding: 1em;
}

#sidebarState[state = "aside-closed"] aside header{
    padding: 2em;
    display: flex;
}

#sidebarState[state = "aside-closed"] aside nav{
    width: 100%;
}

#sidebarState[state = "aside-closed"] aside nav li{
    color: #CBD5E1;
}

#sidebarState[state = "aside-closed"] aside nav li:hover{
    background: #3F4049;
}
#sidebarState[state = "aside-closed"] aside nav li[selected]{
    background: #3F4049;
}
#sidebarState[state = "aside-closed"] aside nav li[selected] #selectedMark{
    background: #D9DDF9;
    width: 0.3rem;
}
#sidebarState[state = "aside-closed"] footer{
    margin-bottom: 2em;
}

#sidebarState[state = "aside-closed"] footer button{
    padding: 0;
    width: 13.7rem;
    height: 5rem;
    background: #2489F4 !important;
}

#sidebarState[state = "aside-closed"] footer button:hover{
    background: rgb(36, 137, 244, 0.8) !important;
}

#sidebarState[state = "aside-closed"] .hiddenWhenClosed{
    display: none;
}

#sidebarState[state = "aside-closed"] main{
    width: max(100% - var(--sidewidthClosed));
}

#sidebarState[state = "aside-closed"] .divider{
    height: 1px;
    background: #DFE0EB;
    opacity: 0.5;
    width: 50%;
}

#sidebarState header #menu-toggle-mobile:hover{

    opacity: 0.8;
}

#sidebarState[view="desktop"] #menu-toggle-mobile{
    width: 0;
}

@media (max-width:1000px){
    #sidebarState{
        display: flex;
        flex-direction: column;
    }

    #sidebarState[state = "aside-open"] header{
        width: 100%;
        justify-content: space-between;
    }

    #sidebarState[state = "aside-open"]  aside{
        width: 100vw;
        z-index: 99999;
        
    }

    #sidebarState[state = "aside-open"] main{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        margin: 0;
    }

    #sidebarState[state = "aside-closed"]  aside{
        opacity: 0;
        
    }
    #sidebarState[state = "aside-closed"]  main{
        width: 100%;
        
    }
}
