/* .table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
    border-right-width:0px;
    border-left-width:0px;
} */

.table-row{
    cursor:pointer;
}

#list-penduduk thead {
    color: #94A3B8; 
}

#list-penduduk thead tr th{
    padding-left: 0;
    padding-right: 0;

}

#list-penduduk tbody tr td{
    text-transform: uppercase;
    padding: 1em 0 1em 0;
}