@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins";

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #363740;
}
.a {
  font-weight: bold;
  font-size: 0.875rem;
  color: #94a3b8;
}
.b {
  font-weight: bold;
  font-size: 0.65rem;
  color: #94a3b8;
}

h1 {
  font-size: 1rem;
  font-weight: bolder;
}

.container {
  border-radius: 10px;
  height: 30rem;
  width: 20rem;
  background-color: white;
}
.container2 {
  margin-top: 10%;
}
form {
  margin-bottom: 20%;
}
form label {
  font-size: 0.7rem;
  color: #94a3b8;
  font-family: "Poppins";
  font-weight: 500;
}

form ::placeholder {
  font-family: "Poppins";
  color: #94a3b8;
}
form div {
  text-align: start;
  margin-left: 10%;
}
form i {
  color: #94a3b8;
  margin-left: -30px;
  margin-top: -30px;
  cursor: pointer;
}
form input[type="text"],
input[type="password"] {
  height: 1.5rem;
  width: 15.5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 0.706rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.538rem;
  width: 0.538rem;
  left: 1.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
  margin-top: 0%;
}
form input[type="submit"] {
  font-family: "Poppins";
  width: 7.5rem;
  height: 1.5rem;
  margin-top: 10%;
  margin-left: 22.5%;
  color: white;
  border-radius: 5px;
  border-width: 0px;
  background-color: #2489f4;
  cursor: pointer;
}
form a {
  font-size: 0.5rem;
}
